priority -50

# Custom python snippets for me

# Flask logging stuff
snippet ainfo "app.logger.info" b
app.logger.info("$0")
endsnippet

snippet adebug "app.logger.debug" b
app.logger.debug("$0")
endsnippet

snippet aerror "app.logger.error" b
app.logger.error("$0")
endsnippet

snippet awarn "app.logger.warn" b
app.logger.warn("$0")
endsnippet

snippet afatal "app.logger.fatal" b
app.logger.fatal("$0")
endsnippet
